* {
    margin: 0;
}

/* This is the container for the whole index. */
.full-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

/* This is the container for the page header. */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

/* This is the item container for the logo in the header */
.header-logo {
    display: flex;
    float: left;
    padding-left: 150px;
}

/* This is the item container for the links in the header */
.header-links p {
    display: inline;
    flex-direction: row;
    justify-content: flex-end;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 50px;
}

/* This is the container for the header-body section */
.header-body {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-evenly;
    align-items: center;
    min-height: 25vh;
}

/* This is the item container for the placeholder image */
.placeholder {
    display: flex;
    float: right;
}

/* This is the container for the image's section */
.main-images {
    min-height: 25vh;
}

/* This is the container for the quotes section */
.quotes {
    min-height: 25vh;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

/* This is the container for the call to action section */
.calltoaction {
    min-height: 25vh;

}

/* This is the container for the footer */
.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-height: 10vh;
    background-color: #1F2937;
    color:#E5E7EB;
}



a {
    color:#F9FAF8;
    text-decoration: none;
}