
* {
    margin: 0;
    font-family:"Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* This is the container for the whole index. */
.full-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* This is the container for the page header. */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    min-width: auto;
}

/* This is the item container for the logo in the header */
.header-logo {
    display: block;
    margin-left: 21rem;
    font-size: 32px;
    font-weight: bolder;
}

/* This is the container for the header-links */
.header-links {
    display: flex;
    align-items: flex-end;
    margin-right: 285px;
}

/* This is the css for the paragraphs inside the container */
.header-links p {
    display: inline;
    flex-direction: row;
    justify-content: flex-end;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 50px;
}

/* This is the container for the header-body section */
.header-body {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
}

.signup-blurb {
    display: block;
    width: 25rem;
}

.blurb-button {
    border: 2;
    border-radius: 10px;
    border-color:#3882F6;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    font-size: 18px;
    font-weight: bolder;
    height: 40px;
    color: #E5E7EB;
    margin-top: 15px;
    transition: 1s;
}

.blurb-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    font-size: 24px;
    transition: 1s;
}

.blurb-button:active {
    background-color:#1F2937;
    box-shadow: 0 2px black;
    transform: translateY(4px);
    transition: 0.2s;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

/* This is the item container for the placeholder image */
.placeholder-container {
    display: flex;
    float: right;
}

.placeholder-image {
    background-color: grey;
}

/* This is the container for the image's section */
.information {
    min-height: 50vh;
}

.information-heading {
    display: flex;
    width: auto;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    margin-top: 35px;
}

.information-images-container {
    display: Flex;
    justify-content: center;
    align-items: center;
}

figure {
    margin-top: 40px;
    margin-right: 80px;
    width: 175px;
    height: 175px;
}

.placeholder-image {
    display: flex;
    align-content: center;
}

.placeholder-illustration-images {
    border: 3px solid #3882F6;
    box-shadow: 5px 5px 15px grey;
    border-radius: 15px;
}

figcaption.illustration-text {
    width: 100%;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

/* This is the container for the quotes section */
.quotes {
    display: flex;
    min-height: 25vh;
    background-color: #E5E7EB;
    color: #1F2937;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

blockquote {
    width: 41%;
    font-size: 36px;
    font-weight:lighter;
    font-style:italic;
}

.citation {
    font-weight: bolder;
    float: right;
    font-style:normal;
    font-size: 24px;
    color: black;
    margin-top: 36px;

}
/* This is the container for the call to action section */
.calltoaction {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bluebox {
    display: flex;
    min-width: 75%;
    height: 15vh;
    background-color: #3882F6;
    border-radius: 25px;
    box-shadow: 5px 5px 15px grey;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}

p.cta-text {
    font-size: 18px;
}

p.cta-heading {
    font-weight: bolder;
    font-size: 24px;
}

button.cta-button {
    border: 2px solid white;
    border-radius: 15px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    font-size: 18px;
    font-weight: bolder;
    height: 40px;
    color: #E5E7EB;
}

.cta-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    font-size: 24px;
    transition: 1s;
}

.cta-button:active {
    background-color:#1F2937;
    box-shadow: 0 2px black;
    transform: translateY(4px);
    transition: 0.2s;
}

/* This is the container for the footer */
.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-height: 10vh;
    background-color: #1F2937;
    color:#E5E7EB;
}

a {
    color:#F9FAF8;
    text-decoration: none;
}